<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924971239933-up628i61tdna41p97nmj1cc9e1ur8cut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924971239933-up628i61tdna41p97nmj1cc9e1ur8cut</string>
	<key>API_KEY</key>
	<string>AIzaSyDPfQQEMluzMIx8fpbH3T9ydw0IoRENg0s</string>
	<key>GCM_SENDER_ID</key>
	<string>924971239933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mubtakerspace.agate</string>
	<key>PROJECT_ID</key>
	<string>qalam-center</string>
	<key>STORAGE_BUCKET</key>
	<string>qalam-center.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924971239933:ios:444d742bbba01bdb4b7194</string>
</dict>
</plist>